html {
  line-height: 1.4;
  font-family: Georgia, serif;
  font-size: 18px;
  color: #1a1a1a;
  background-color: #fdfdfd;
}
body {
  display: flex;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
@media (max-width: 600px) {
  body {
    font-size: 0.9em;
    padding: 1em;
  }
  h1 {
    font-size: 1.8em;
  }
}
@media print {
  body {
    background-color: transparent;
    color: black;
    font-size: 12pt;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3, h4 {
    page-break-after: avoid;
  }
}
p {
  margin: 1em 0;
}
a {
  color: #1a1a1a;
}
a:visited {
  color: #1a1a1a;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}
h1 {
  margin-top: 0.4em;
}
h5, h6 {
  font-size: 1em;
  font-style: italic;
}
h6 {
  font-weight: normal;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
ol, ul {
  padding-left: 1.7em;
  margin-top: 1em;
}
li > ol, li > ul {
  margin-top: 0;
}
blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #606060;
}
code {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 85%;
  margin: 0;
}
pre {
  margin: 1em 0;
  overflow: auto;
}
pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.sourceCode {
 background-color: transparent;
 overflow: visible;
}
hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}
table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}
tr {
  vertical-align: top;
}
th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}
header {
  margin-bottom: 4em;
  text-align: center;
}
section.level1 {
  max-width: 44em;
  position: relative; /* needed for the anchor links to work */
  order: 1;
  max-width: 48em;
  min-width: 300px;
  padding-bottom: 60em; /* ensure that any anchor can be at top */
}
#TOC {
  order: 2;
  position: sticky;
  top: 2rem;
  max-width: 20em;
  min-width: 12em;
  align-self: baseline;
  background: transparent;
}
#TOC > ul {
  margin-top: 1em;
  margin-left: 2em;
  height: 96vh;
  overflow-y: scroll;
  font-size: 14px;
}
#TOC li {
  list-style: none;
}
#TOC ul {
  padding-left: 1em;
}
#TOC > ul {
  padding-left: 0;
}
#TOC a:not(:hover) {
  text-decoration: none;
}
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
.display.math{display: block; text-align: center; margin: 0.5rem auto;}

.example {
  display: flex;
  border: 1px solid grey;
  border-radius: 5px;
}
@media (max-width: 860px) {
  .example {
    flex-direction: column;
  }
}
.example pre, .example div {
  padding: 0pt 12pt 0pt 12pt;
}
.example .html {
  padding: 0;
  flex: 1;
  flex-wrap: wrap;
}
.example .djot {
  padding: 0;
  flex: 1;
  flex-wrap: wrap;
  background-color: #ddd;
}
.example code {
  font-size: 78%;
}
